.container {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.coluna{
    display: flex;
    flex-direction: row;
}
.celula {
    display: block;

    width: 30px;
    height: 30px;

    border: 1px solid black;
}
.impar {
    background-color: white;
}
.par {
    background-color: black;
}